* {
    box-sizing: border-box;
}

.page{
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
}

.header__navigation{
    display: flex;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.page__header_grey{
    background-color: #F6F2F2;
}
.page__header{
    padding: 25px;
}
.menu__item{
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-width: 90px;
}

.menu__item:hover{
    background-color: #FF3F40;
}

.menu__link{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    font-family: 'OpenSans',sans-serif;
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    padding: 0 27px;
    text-transform: uppercase;
}
.page__content{
    flex-grow: 1;
}

.intro__text{
    padding-bottom: 72px;
    padding-top: 25px;
}

.intro__content{
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
}
.intro__heading{
    margin: 0;
    margin-top: 60px;
    font-size: 60px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.intro{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    max-width: 520px;
    margin-bottom: 29px;
}
.red-button{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF2D2D;
 }
 .action__button{
    font-family: 'Open Sans',sans-serif;
    display: inline-block;
    width: 227px;
    height: 55px;
    text-align: center;
    padding: 16px 0;
    text-decoration: none;
    border-radius: 6px;
 }
 .intro-video{
    width: 551px;
    height: 356px;
    margin-top: 55px;
    box-shadow: 0 0 25px;
}
 
 .section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1240px;
    min-height: 359px;
    margin: 0 auto;
    padding-bottom: 94px;
    padding-top: 25px;
 }

.services{
    padding-top: 106px;
    padding-bottom: 52px;
    border-bottom: 1px solid #E0E0E0;
}

.services__leading{
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.services__heading{
    font-family: 'OpenSans',sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    position: relative;
    font-weight: 700;
    bottom: 6px;
    margin-bottom: 28px;
}
 
.action-white-buttom{
    font-family: 'OpenSans',sans-serif;
    font-size: 18px;
    color: #FF2D2D;
    background-color: #FFFFFF;
    border: 2px solid #FF2D2D;
}
.services__text{
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
}
.services_blocks{
    flex: 1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.service{
    flex: 1 1 288px;
    max-width: 288px;
    margin-bottom: 50px;
    padding: 7px;
}
.services__heading::before{
    display: block;
    width: 37px;
    height: 37px;
    margin-bottom: 24px;
}
.service__heading{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 12px;
    padding-top: 16px;
}
.service__text{
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;

}
.manage::before{
    content: url(../images/managenent_icon.svg);
}
.design::before{
    content: url(../images/design_icon.svg);
}

.logo::before{
    content: url(../images/logo_icon.svg);
}
.animation::before{
    content: url(../images/animation_icon.svg);
}

.feauture{
    padding-top: 104px;
    padding-bottom: 52px;
}
.feauture__header{
    width: 100%;
    text-align: center;
    margin-bottom: 66px;
}
.feauture__heading{
    padding-left: 14px;
    padding-bottom: 16px;
    font-family: 'Open Sans',sans-serif;
    font-size: 41px;
    font-weight: 700;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.products__text{
    font-family: 'Open Sans',sans-serif; 
    font-size: 16px;
    max-width: 500px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 auto 30px;
}

.products__filter{
    display: flex;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    margin-bottom: 50px;
}

.products__link{
    font-family: 'Open Sans',sans-serif; 
    position: relative;
    left: 45px;
    color:#000000;
    margin-right: 56px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
}

.products__link:hover{
    color: #FF2D2D;
}

.products__link_active{
    color: #FF2D2D;
}
.products{
    display: flex;
    max-width: 1343px;
    height: 620px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
 
}
.product{
    flex: 1 1 24%;
    max-width: 299px;
    height: 292px;
    margin-bottom: 18px;
    object-fit: cover;
}

.header__line{
    width: 106px;
    max-height: 4px;
      background: #FF2D2D;

   
}