* {
    box-sizing: border-box;
}

.page{
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background: #000000;
}

.header__navigation{
    display: flex;
    flex-wrap: wrap;
}

.menu{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.page__header_grey{
    background-color: #F6F2F2;
}
.page__header{
    padding: 25px;
}
.menu__item{
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-width: 90px;
}

.menu__item:hover{
    background-color: #FF3F40;
}

.menu__link{
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 27px;
    justify-content: center;
    font-family: 'Open Sans',sans-serif;
    color: #E0E0E0;
    text-decoration: none;
    font-size: 12px;
    font-style: 700;
    padding: 0 27px;
    text-transform: uppercase;
}
.page__content{
    flex-grow: 1;
}

.intro__text{
    padding-top: 25px;
    padding-bottom: 94px;
}
.intro__content{
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
}
.intro__heading{
    margin: 0;
    margin-top: 60px;
    font-size: 60px;
    font-family: 'OpenSans',sans-serif;
    font-weight: 900;
    line-height: 72px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.intro{
    margin: 0;
    font-family: 'OpenSans',sans-serif;
    font-size: 16px;
    max-width: 520px;
    margin-bottom: 29px;
}
.red-button{
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF2D2D;
 }
 .action__button{
    font-family: 'OpenSans',sans-serif;
    display: inline-block;
    width: 227px;
    height: 55px;
    text-align: center;
    padding: 16px 0;
    text-decoration: none;
    border-radius: 6px;
 }

 .intro-video{
    width: 551px;
    height: 356px;
    margin-top: 55px;
    box-shadow: 0 0 25px;
}
 
 .section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1240px;
    min-height: 359px;
    margin: 0 auto;
    padding-bottom: 94px;
    padding-top: 25px;
 }
 .service{
    padding-top: 106px;
    padding-bottom: 52px;
 }

 .services{
    flex-grow: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
 }

 .services__heading{
    font-family: 'OpenSans',sans-serif;
   position: relative;
   bottom: 6px;
   font-weight: 600;
   font-size: 42px;
   margin-bottom: 28px;
   letter-spacing: 1.2px;
   text-transform: uppercase;
 }
.services__text{
    font-family: 'OpenSans',sans-serif;
    margin: 0;
    line-height: 28px;
    margin-bottom: 50px;
}
.action-white-buttom{
font-size: 18px;
color: #FF0000;
background-color: #FFFFFF;
border: 2px solid #FF0000;
}
.services_blocks{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1;
    max-width: 610px;
}
.services__heading{
    font-family: 'OpenSans',sans-serif;
   position: relative;
   bottom: 6px;
   font-weight: 600;
   font-size: 24px;
   margin-bottom: 12px;
   letter-spacing: 1.2px;

}
.service{
    flex: 1 1 288px;
    width: 288;
    margin-bottom: 50px;
}